body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 80vh;
    width: 80%;
    padding: 50px;
    gap: 30px;
    background-color: #ab3939;
}
.left {
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.right {                  /* takes remaining space */
  background: rgb(217, 217, 223);
  padding-top: 10px;
  padding: 20px;
  height: 60vh;
  width: calc(100% - 350px); /* 320px + 30px gap */
  border-radius: 10px;
   gap: 20px;
  
}
